@import '../variables';

.header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: @header-height;
}

.header-back-button {
  float: left;
  font-size: 1em;
  margin: 17px;
  overflow: hidden;
  width: 10px;
}

.header-logo {
  display: inline-block;
  @media (min-width: 600px) {
    float: left;
  }
  @media (max-width: 600px) {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
  }
}

.header-logo img {
  max-width: 80%;
  max-height: 25px;
  margin-top: 16px;
}

.header-location {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  display: inline-block;
  margin-top: 12px;
  @media (max-width: 600px) {
    display: none;
  }
}

.header-location img {
  height: 30px;
}

.header-profileicon {
  float: right;
  margin: 10px;
}

.header-chat-partner-icon {
  float: left;
  margin: 10px;
}

.header-chat-partner-username {
  margin-left: 5px;
  @media (max-width: 200px) {
    display: none;
  }
}

.header-profileicon-username {
  margin-right: 5px;
  @media (max-width: 450px) {
    display: none;
  }
}
