@import '../variables';

.waitlist-item {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

.waitlist-item-already-contacted {
  background-color: #c7d7eb;
  border-radius: 10px;
}

.waitlist-item-invisible {
  display: none;
}

.waitlist-item-avatar {
  flex: 0 0 50px;
  padding: 5px;
};


.waitlist-item-data {
  flex: 1;
};
.waitlist-item-data-interests {
  font-size: 1.5em;
};
.waitlist-item-data-name {
  font-size: 1.0em;
  color: @waitlist-blue;
};


.waitlist-item-meta {
  flex: 0 0 50px;
};
.waitlist-item-meta-timeleft {
  font-size: 0.8em;
  height: 20px;
};
.waitlist-item-meta-arrow {
  float: right;
  padding-right: 5px;
  color: @waitlist-yellow;
}
.waitlist-item-meta-chat-bubble {
}
