@import '../variables';

.onboarding {
  margin-top: -50px;
  text-align: center;
}

.onboarding-logo {
  text-align: center;
}
.onboarding-logo img {
  max-width: 80%;
}

.onboarding-carousel {
  margin: 0 auto;
  max-width: @onboarding-carousel-max-width;
  width: 100%;
}

.onboarding-carousel-item {

}

.onboarding-carousel-item-image {
  max-width: @onboarding-carousel-max-width;
  width: 100%;
}

.onboarding-carousel-item-text {
  margin-top: -25px;
  max-width: @onboarding-carousel-max-width;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.onboarding-enter-button {
  text-align: center;
  padding: 50px 0px 10px;
}

.onboarding-legal-texts {
  color: #777777;
  font-size: 0.8em;
}

.onboarding-login {
  margin-bottom: 5px;
}
