.signup {
  padding-top: 4px;
  text-align: center;
}

.signup-selection-icon {
  height: 100px;
  margin: 5px;
}

.signup-slider {
  width: 200px;
  margin: 0 auto;
}

.signup-im-here {
  font-size: 10px;
}

.signup-wait-for {
  font-size: 10px;
  padding-top: 2px;
}

.signup-wait-for-minutes {
  font-size: 25px;
  padding-top: 3px;
  font-weight: 500;
}

.signup-location-input-style {
  width: 300px;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
